<h1>Top Blockchain Projects</h1>

<p *ngIf="!blockchains"><em>Loading...</em></p>

<table class='table' *ngIf="blockchains">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Organization Avatar Url</th>
            <th>Language</th>
            <th>Open Issues</th>
            <th>Forks</th>
            <th>Homepage</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let blockchain of blockchains">
            <td>{{ blockchain.name }}</td>
            <td>{{ blockchain.description }}</td>
            <td>{{ blockchain.organizationAvatarUrl }}</td>
            <td>{{ blockchain.language }}</td>
            <td>{{ blockchain.openIssues }}</td>
            <td>{{ blockchain.forks }}</td>
            <td>{{ blockchain.homepage }}</td>
        </tr>
    </tbody>
</table>