<h1>Top Blockchain Repository Projects</h1>

<p *ngIf="!repositories"><em>Loading...</em></p>

<table class='table' *ngIf="repositories">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Organization Avatar Url</th>
            <th>Language</th>
            <th>Open Issues</th>
            <th>Forks</th>
            <th>Homepage</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let repository of repositories">
            <td>{{ repository.name }}</td>
            <td>{{ repository.description }}</td>
            <td>{{ repository.organizationAvatarUrl }}</td>
            <td>{{ repository.language }}</td>
            <td>{{ repository.openIssues }}</td>
            <td>{{ repository.forks }}</td>
            <td>{{ repository.homepage }}</td>
        </tr>
    </tbody>
</table>